version: "3.9"
services:
  web:
    build: .
    #command: python /studibloc3/manage.py runserver 0.0.0.0:8000
    command: gunicorn studibloc3.wsgi -b 0.0.0.0:8000 # new
    volumes:
      - .:/studibloc3
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      - "DJANGO_SECRET_KEY=5EISYbFluL-56hJA23f4_VsAdj8aVYi__UuqpW2RLoAEEfwPJmY"
      - "DJANGO_DEBUG=False"
      - "DJANGO_SECURE_SSL_REDIRECT=True" # new
      - "DJANGO_SECURE_HSTS_SECONDS=0" # new
      - "DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False" # new
      - "DJANGO_SECURE_HSTS_PRELOAD=False" # new
      - "DJANGO_SESSION_COOKIE_SECURE=True" # new
      - "DJANGO_CSRF_COOKIE_SECURE=True" # new


  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
volumes:
  postgres_data: