{% extends '_base.html' %}


{% block content %}
    <h1 class="fs-3 text-center mt-5">Tous les produits du catalogue</h1>
    <hr>
    <div class="d-flex justify-content-center flex-wrap">
    {% for product in product_list %}
        <div class="card text-center border-light m-3" style="width: 18rem;">
        <div id="imagebox" class="text-center">
            {% for image in product.productimage_set.all %}
                <img src="{{ image.thumbnail.url }}" class="rounded mx-auto d-block" alt="product-image"/>
            {% endfor %}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark">{{ product.category }}</li>
            <li class="list-group-item">
                {% if product.discount and product.discount.fin_promotion%}
                    <del class="price">{{ product.price }} &euro;</del>
                    <span  class="fw-bold text-danger p-3">{{ product.get_price_with_discount }} &euro;</span>
                    <span  class="fw-normal text-danger">{{ product.discount.discount_rate }} %</span>
                {%  else  %}
                    <span class="price">{{ product.price }} &euro;</span>
                {% endif %}
            </li>
        </ul>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
